/public/static/css/mapbox-gl.*
/public/static/index.html
/public/static/javascript/*.elm.js*
/public/static/javascript/mapbox-gl.*
/source/api/geocode/*.tsv
/source/api/geocode/index/
/source/api/geocode/indexer/target/
/source/api/geocode/searcher/target/
/source/api/tile/target/
/source/api/tile/database/*.mbtiles
/source/client/elm-stuff
/source/client/tests/elm-stuff
/source/server/target
Cargo.lock